/*
BASE: Mobile
*/

body {
    margin: 0;
    min-height: 100vh;
    display: grid;
    gap: 6px;
    grid-template-columns: 1fr;
    grid-template-rows: minmax(45px,55px) minmax(35px,45px) 1fr minmax(50px,60px) minmax(50px,60px) minmax(65px,75px) minmax(35px,45px);
    grid-template-areas: 
    "header"
    "nav"
    "main"
    "wildcar1"
    "wildcar2"
    "aside"
    "footer";

}

header {
    grid-area: header;
    background-color: skyblue;   
}

nav {
    grid-area: nav;
    background-color: rgb(168, 207, 109);
}

main {
    grid-area: main;
    background-color: rgb(196, 86, 86);
}

aside {
    grid-area: aside;
    background-color: rgb(209, 106, 69);
}

.wildcar1 {
    grid-area: wildcar1;
    background-color: grey;
}

.wildcar2 {
    grid-area: wildcar2;
    background-color:grey;
}


footer {
    grid-area: footer;
    background-color:rgb(208, 86, 208);
}

    header, nav, main, aside, footer, .wildcar1, .wildcar2 {
      display: flex;
      justify-content: center;
      align-items: center;
      font: 600 1rem/1.2 system-ui, Arial, sans-serif;
      color: #17202a;
      border-radius: 5px;

    }
/*
BASE: Tablet
*/
@media (min-width: 768px) {
    body {
        grid-template-columns: 200px 1fr;
        grid-template-rows: 
        /*header*/
        minmax(45px,55px) 
        /*nav*/
        minmax(35px,45px) 
        /*aside,main*/
        1fr
        /*wildcar1,wildcar2*/
        minmax(60px,120px)
        /*footer*/
        minmax(35px,45px);
        grid-template-areas: 
        "header   header"
        "nav      nav"
        "aside    main"
        "wildcar1 wildcar2"
        "footer   footer";

    }
}

/*
BASE: Desktop
*/

@media (min-width: 1024px) {
    body {
        grid-template-columns: 200px 1fr 170px;
        grid-template-rows: 
        /*header*/
        minmax(45px,55px)       
        /*nav*/
        minmax(35px,45px)
        /*sidebar,main,Wildcar1*/
        minmax(120px,1fr) 
        /*sidebar,main,Wildcar2*/
        minmax(120px,1fr) 
        /*Footer*/
        minmax(35px,45px);
        grid-template-areas: 
        "header  header header"
        "nav     nav    nav"
        "aside   main   wildcar1"
        "aside   main   wildcar2"
        "footer  footer footer";
    }

}